@font-face {
  font-family: helvetica;
  src: url(../css/fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf);
}
body {
  background-color: #0a22f4;
}
header {
  display: flex;
  justify-content: space-around;
}
header img {
  width: 95px;
  height: 55px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 43px;
}
ul li a {
  font-size: 16px;
  color: #ffffff;
  font-family: helvetica;
}
.contact {
  background-color: #ffffff;
  width: 160px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a {
  color: #171717;
  margin: 0;
}
