@font-face {
  font-family: helvetica;
  src: url(../css/fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf);
}
@font-face {
  font-family: helveticalight;
  src: url(../css/fonts/HELVETICANEUELTGEO-45LIGHTS.ttf);
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #0a22f4;
}
header img {
  width: 95px;
  height: 55px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 43px;
}
ul li a {
  font-size: 16px;
  color: #ffffff;
  font-family: helvetica;
}
.contact {
  background-color: #ffffff;
  width: 160px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a {
  color: #171717;
}
/* sectoon */
.bigcontainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 100px;
}
.header {
  margin-left: 240px;
}
.header h2 {
  font-size: 32px;
  color: #171717;
  font-family: helveticalight;
}
.container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  width: 463px;
  height: 235px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box h4 {
  color: #171717;
  font-size: 22px;
  font-weight: bold;
  font-family: helvetica;
}
.box p {
  color: #171717;
  font-size: 16px;
  font-family: helveticalight;
}
.bluebox {
  max-width: 70px;
  width: 100%;
  height: 70px;
  background-color: blue;
}
.whitebox {
  max-width: 70px;
  width: 100%;
  height: 70px;
  background-color: #f9f9f9;
}
